<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blockly Demo: Generating JavaScript</title>

      <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

     <script type=text/javascript src="{{
      url_for('static', filename='js/blockly_compressed.js') }}"></script>
           <script type=text/javascript src="{{
      url_for('static', filename='js/blocks_compressed.js') }}"></script>
           <script type=text/javascript src="{{
      url_for('static', filename='js/en.js') }}"></script>
           <script type=text/javascript src="{{
      url_for('static', filename='js/javascript_compressed.js') }}"></script>
  <style>
    body {
      background-color: #fff;
      font-family: sans-serif;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1><a href="https://developers.google.com/blockly/">Blockly</a> &gt;
        <a href="../index.html">Demos</a> &gt; Generating JavaScript</h1>
    
      <p>This is a simple demo of generating code from blocks and running
      the code in a sandboxed JavaScript interpreter.</p>
    
      <p>&rarr; More info on <a href="https://developers.google.com/blockly/guides/configure/web/code-generators">Code Generators</a> and <a href="https://developers.google.com/blockly/guides/app-integration/running-javascript">Running JavaScript</a>.</p>
    
      <p>
        <button onclick="showCode()">Show JavaScript</button>
        <button onclick="runCode()">Run JavaScript</button>
      </p>

      <div class="col-xs-6" id="div1">
        
      </div>
  
      <div class="col-xs-6" id="div2">
        <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

        <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
          <block type="move_block" id="^f+eSmxMe^PS7#w+O?(H" x="37" y="38">
            <field name="movement">1</field>
          </block>
          <block type="move_block" id="^f+eSmxMe^PS7#w+O?(H" x="37" y="38">
            <field name="movement">2</field>
          </block>
          <block type="move_block" id="^f+eSmxMe^PS7#w+O?(H" x="37" y="38">
            <field name="movement">3</field>
          </block>
        </xml>
      
        <xml xmlns="https://developers.google.com/blockly/xml" id="startBlocks" style="display: none">
        </xml>
      </div>


      <script> 
        Blockly.Blocks['move_block'] = {
          init: function() {
            this.appendDummyInput()
                .appendField("Move Car")
                .appendField(new Blockly.FieldDropdown([["Straight","1"], ["Left","2"], ["Right","3"]]), "movement");
            this.setPreviousStatement(true, null);
            this.setNextStatement(true, null);
            this.setColour(230);
            this.setTooltip("");
            this.setHelpUrl("");
          }
        };
      Blockly.JavaScript['move_block'] = function(block) {
      var dropdown_movement = block.getFieldValue('movement');
      // TODO: Assemble JavaScript into code variable.
      var code = dropdown_movement + '\n';
      return code;
      };
    

    // Function for Submit Button 
    function submitFunction()
    {
      // Get Instructions style

      // Alert the Instructions received
      console.log("Submit Button!");
      showCode();
    }
  </script> 
  <script>
    var demoWorkspace = Blockly.inject('blocklyDiv',
        {media: '../../media/',
         toolbox: document.getElementById('toolbox'), trashcan: true });
    Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'),
                               demoWorkspace);

    function showCode() {
      // Generate JavaScript code and display it.
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      code = code.replace(/(\r\n|\n|\r)/gm, "");

      console.log(code);
      // Axios 
      axios 
        .post("/createInstructions", {
          executed: true, 
          command : parseInt(code), 
          map_id : 1, 
          session_id : 1
        })
        .then(function (response) {
          // Success Then go to next page. 
          // Redirect to Jonah Page | Change this at a later date.
          alert("Success, now redirect to Jonah Page")
          console.log(response)
          
        })
        .catch(function (error) {
          console.log(error);
          alert('Error Saving Instructions, Try again later');
        });
    }

    function runCode() {
      // Axios 
      axios 
        .post("/getInstructions", {
          map_id : 1, 
          session_id : 1+""
        })
        .then(function (response) {
          // Success Then go to next page. 
          // Redirect to Jonah Page | Change this at a later date.
          alert("Success, Data Received")
          console.log(response)
          
        })
        .catch(function (error) {
          console.log(error);
          alert('Error Retriving Instructions, Try again later');
        });
    }
  </script>


</body>
</html>
