{% extends "base.html" %}

{% block content %}
<container>
  <div>
    <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <input type="submit" value="Add Highscore">
    </form>
  </div>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Commands</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for (tableMap_id, tableRank, tableName, tableCommands, tableTime) in getHighscoretable(request.map_id) %}
      <tr>
        <td>{{ tableRank }}</td>
        <td>{{ tableName }}</td>
        <td>{{ tableCommands }}</td>
        <td>{{ tableTime }}</td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
  <!--Exit button-->
</container>
{% endblock %}