{% extends "base.html" %}

{% block content %}
<container>
  <div>
    <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <input type="submit" value="Add Highscore">
    </form>
  </div>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for i, (scoreId, mapId, name, score) in getHighscoretable(request.map_id) %}
      <tr>
        <th>{{ i }}</th>
        <th>{{ name }}</th>
        <th>{{ score }}</th>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
  <button>Exit</button>
</container>
{% endblock %}