{% extends 'base.html' %} {% block head %}
<title>Game</title>
<!-- Boostrap CSS & JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Own JS -->
<style>
    body {
        background-color: inherit;
    }
</style>
{% endblock %} {% block body %}
<script type="module" src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}