{% extends 'base.html' %}

{% block head %}
<title>Webotic Car</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{#purpose of this line is to not inherit the navbar.#}
{% block content %}{% endblock %}

{% block body %}
<div class="content">
        <div class="center">
            <h1>Webotic Car</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter PIN" aria-label="Enter PIN" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" style="background-color: black; color: white;" type="button">Start Game</button>
                    </div>
            </div>
            <p>Are you a teacher? Click <a href="/login">here</a> to get started.</p>
        </div>
</div>

{#<form action="/addStudent" method="POST">#}
{#    <input type="username" name="username" placeholder="Username">#}
{#    <input type="password" name="password" placeholder="Password">#}
{#    <input type="submit" value="Add">#}
{#  </form>#}

{% endblock %}