{% extends 'dashboard.html' %}

{% block head %}
{% block title %}Webotic Car - Teacher {% endblock %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
<body>

{% block main %}
    <div class="container">
        <table class="table table-striped bg-light">
            <tr>
                <th>map_id</th>
                <th>name</th>
                <th>pin</th>
                <th></th>
            </tr>
            {% for map in maps %}
                <tr>
                    <td>{{ map.map_id }}</td>
                    <td>{{ map.name }}</td>
                    <td>{{ map.pin }}</td>
                    <td>
                        <a href="/editmap/{{ map.map_id }}" class="btn">Edit</a>
                    </td>
                </tr>
            {%  endfor %}
        </table>
    </div>
{% endblock %}
</body>